.main-decorator {
  section {
    height: 100vh;

    aside {
      width: 250px !important;
      max-width: 250px !important;
      min-width: 250px !important;
    }
  }
  .ant-layout {
    background: #fff3e0;
  }
  .ant-layout-content {
    margin: 80px !important;
  }
  .ant-layout-header {
    background: #FFF;
  }
  .create-article {
    display: flex;
    justify-content: center;
    margin-top: 80px;

    &__title {
      margin: 25px;

      h1 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }

    &__section {
      display: flex;
      flex-direction: column;
      position: relative;

      button {
        position: absolute;
        height: 100%;
        width: 100%;
        font-weight: bold;
        font-size: 33px;
        background: none;
        border: none;

        &:hover {
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    margin-bottom: 25px;

    img {
      height: 175px;
    }
  }
}