.article {
  padding: 0 20px;
  margin: 10px 0;
  border-radius: 15px;
  background-color: rgba(197, 199, 199, 0.5) !important;

  &-author {
    font-size: 16px;
    font-weight: bold;
  }
  &-title {
    font-weight: lighter;
    font-size: 18px;
  }
  &-view {
    font-size: 14px;
  }
  &__admin {
    background-color: rgba(235, 186, 185, 0.5) !important;
  }
}