// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.article-form {
  form {
    display: flex;
    flex-direction: column;
    max-width: 20%;
  }

  textarea {
    height: 500px;
    width: 500px;
  }
}
